{%load i18n%}

<HTML xmlns="http://www.w3.org/1999/xhtml" xmlnx:fb="http://www.facebook.com/2008/fbml?&nc=0&pl=1" > 
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<TITLE>jobGears - {%trans "O meu curriculo"%}</TITLE>
<!-- <link rel="shortcut icon" href="images/favicon.gif" type="favicon.gif" /> -->

<!-- INCLUDE GERAL -->
<SCRIPT language="JavaScript" src="js/includeajax.js" ></SCRIPT>
<SCRIPT language="JavaScript" src="js/jsCookies.js"></SCRIPT>

<!-- INCLUDE DE PERFIL -->
<SCRIPT language="JavaScript" src="js/home.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/homeform.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/homefb.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/hometwitter.js "></SCRIPT>
<SCRIPT language="JavaScript" src="js/homeutils.js"></SCRIPT>

<!-- INCLUDE CALENDARIO-->
<SCRIPT type="text/javascript" src="js/calendar/dhtmlgoodies_calendar.js" ></script>
<SCRIPT type="text/javascript" src="js/calendar/urchin.js" ></script> 



<!-- CSS Calendario -->
<LINK type="text/css" rel="stylesheet" href="js/calendar/dhtmlgoodies_calendar.css " media="screen" />

<!-- CSS home.html -->
<link rel="stylesheet" type="text/css" href="css/home.css" />

</HEAD>

<BODY onLoad="init()">
<!--Facebook Connect javascript / This block must be in the BODY section -->
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/" type="text/javascript"> </script> 
<!-- END OF FB OBJECT INIT  -->

<center>

<table id="header">
 <tr>
  <td colspan="2" id="banner">
<a href="{{url}}"><img src="images/banner.jpg" ></a>
  </td>
 </tr>
 <tr>
  <td id="navigation">


  <nobr> 
   <span id="fblogin" style="visibility:hidden; display:none"> <fb:login-button v="2" onlogin="fbLoggedIn()"><fb:intl>{%trans "Associar ao Facebook"%}</fb:intl> </fb:login-button> | </span> 
<!-- FB.init -->
    <script type="text/javascript">FB.init("3296be521467c6b0f73259c7b4cbfbd5", "./facebook/xd_receiver.htm"); </script>

   <span id="fbloggedin" style="visibility:visible; display:none"> <a href="javascript:fbStreamPublish()"><img src="images/facebook.gif" style="position:relative; top:5px" title="{%trans 'Publicar no Facebook'%}"></a> | </span> <a href="javascript:twitterConnect()" ><img src="images/twitter_icon.gif" style="position: relative; top:5px" title="{%trans 'Publicar no twitter'%}" ></a> |
    <span class="bold"> {%trans "O meu curriculo"%} </span>


  </nobr>








  </td>
  <td id="user">
  <nobr> <a href="javascript:setLanguage('pt')">pt</a> <a href="javascript:setLanguage('en')">en</a> <a href="javascript:setLanguage('fr')">fr</a></nobr> 
  </td>
 </tr>
</table>


<DIV id="background" ></DIV>

<DIV id="loading"><center> <IMG SRC="images/infinitum2.gif" style="display:block;"></center> </DIV>

<DIV id="body" style="display:none" >


<SPAN id="titulo">
<div>
 <TABLE>
  <TR>
   <Td id="curriculum_title"><p>{%trans "Curriculum Vitae"%}</p></Td>
   <Td id="pdf"><a title='{%trans "clique aqui para fazer download do curriculo"%}' href="getmypdfcurriculum/"><img src="images/pdf.jpg"></a></Td>
  </TR>
 </TABLE>
</div>
</SPAN>


<SPAN id="personal">
<div>
<FORM id=1>
 <TABLE>
 
  <tr>
   <td class="prim_titles">{%trans "Informação Pessoal"%}</td>
   <td class="new_item">&nbsp;</td>
  </tr>
  
  <TR>
   <TD class="sec_titles">&nbsp;</TD>
   <TD>
    <SPAN tipo=editar cod=form1 style="visibility:visible; display:inline " > <A class="azul" href=javascript:edit(1,"personal") >{%trans "editar"%}</A> </SPAN>
    <SPAN tipo=guardar cod=form1 style="visibility:hidden; display:none " > <A class="azul" href=javascript:save(1,"personal")>{%trans "guardar"%}</A> | </SPAN>
    <SPAN tipo=cancelar cod=form1 style="visibility:hidden; display:none " > <A class="magenta" href=javascript:cancel(1,"personal")>{%trans "cancelar"%}</A> </SPAN>   </TD>
  </TR>
  
  <TR>
   <TD class="sec_titles">{%trans "Nome"%}</TD>
   <TD class="field"><INPUT name="name" type="text" size="60" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.name}}" >
    <div class="view_field" style="visibility:visible; display:inline" >{{personalInfo.name}}</div> </TD>
  </TR>


  <TR>
   <TD class="sec_titles">{%trans "Data de Nascimento"%}</TD>
   <TD class="field">
    <span>
     <input name="birthdate" type="text" onFocus="this.blur()" onClick="displayCalendar(this,'yyyy-mm-dd',this)" size="10" value="{{personalInfo.birthdate}}" tipo="data" style="visibility:hidden; display:none" >
     <img src="images/calendar.gif" class="calendar" onClick="displayCalendar(document.getElementById(1).birthdate,'yyyy-mm-dd',this)" style="visibility:hidden; display:none" > 
     <img src="images/erase.gif" class="calendar" onClick=resetDate(document.getElementById(1).birthdate) title='{%trans "Apagar Data"%}' style="visibility:hidden; display:none" >
     <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.birthdate}}</div>
    </span>   </TD>	
  </TR>
  
  <TR>
   <TD class="sec_titles">{%trans "Morada"%}</TD>
   <TD class="field">
    <INPUT name="address" type="text" size="60" maxlength="256" style="visibility:hidden; display:none" value="{{personalInfo.address}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.address}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Código Postal"%}</TD>
   <TD class="field"><INPUT name="postal_code" type="text" size="10" maxlength="32" style="visibility:hidden; display:none" value="{{personalInfo.postal_code}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.postal_code}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Localidade"%}</TD>
   <TD class="field"><INPUT name="city" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.city}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.city}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "País"%}</TD>
   <TD class="field"><INPUT name="country" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.country}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.country}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Telefone"%}</TD>
   <TD class="field"><INPUT name="phone" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.phone}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.phone}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Telemóvel"%}</TD>
   <TD class="field"><INPUT name="cell_phone" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.cell_phone}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.cell_phone}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Fax"%}</TD>
   <TD class="field"><INPUT name="fax" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.fax}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.fax}}</div> </TD>
  </TR>
  
  <TR>
   <TD class="sec_titles">{%trans "Email"%}</TD>
   <TD class="field"><INPUT name="email" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.email}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.email}}</div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Nacionalidade"%}</TD>
   <TD class="field"><INPUT name="nationality" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.nationality}}">
    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.nationality}}</div> </TD>
  </TR>

  <TR> 
   <TD class="sec_titles">{%trans "Sexo"%}</TD>
   <TD class="field">
        <SELECT name="gender" style="visibility:hidden; display:none" value="" > 
            {%ifequal personalInfo.gender '0' %}
                <OPTION value=""></OPTION>
                <OPTION value="0" selected="selected">{%trans "Feminino"%}</OPTION>
                <OPTION value="1">{%trans "Masculino"%}</OPTION>
                </SELECT><div class="view_field" style="visibility:visible; display:inline">{%trans "Feminino"%}</div>
            {%endifequal%}
            {%ifequal personalInfo.gender '1' %}
                <OPTION value=""></OPTION>
                <OPTION value="0">{%trans "Feminino"%}</OPTION>
                <OPTION value="1" selected="selected">{%trans "Masculino"%}</OPTION>
                </SELECT><div class="view_field" style="visibility:visible; display:inline">{%trans "Masculino"%}</div>
            {%endifequal%}
            {%ifnotequal personalInfo.gender '1' %}
                {%ifnotequal personalInfo.gender '0' %}
                    <OPTION value="" selected="selected"></OPTION>
                    <OPTION value="0">{%trans "Feminino"%}</OPTION>
                    <OPTION value="1">{%trans "Masculino"%}</OPTION> 
                    </SELECT><div class="view_field" style="visibility:visible; display:inline"></div>
                {%endifnotequal%}
            {%endifnotequal%}
    </TD>
  </TR>

  <TR>
   <TD class="sec_titles">{%trans "Língua Materna"%}</TD>
   <TD class="field"><INPUT name="home_language" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.home_language}}">
   <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.home_language}}</div> </TD>
  </TR>
  
  <TR>
   <TD class="sec_titles" id="desired_employment">{%trans "Emprego Pretendido"%} /<br> {%trans "Área Funcional"%}</TD>
   <TD class="field"><input name="desired_employment" type="text" size="60" maxlength="128" style="visibility:hidden; display:none" value="{{personalInfo.desired_employmenet}}"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.desired_employment}}</div> </TD>
  </TR>
</TABLE>
</FORM>
</div>
</SPAN>

<SPAN id="experience">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles">{%trans "Experiência Profissional"%}</TD>
   <Td class="new_item"><img src="images/new_item.png" class="new_item_img" onClick="new_form('experience')" title='{%trans "novo item"%}'></Td>
  </TR>
 </TABLE>
</div>
 {%include "formtemplates/experienceInit.html"%}
</SPAN>

<SPAN id="education">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles">{%trans "Educação e Formação"%}</TD>
   <Td class="new_item"><img src="images/new_item.png" class="new_item_img" onClick="new_form('education')" title='{%trans "novo item"%}'></Td>
  </TR>
 </TABLE>
</div>
 {%include "formtemplates/educationInit.html"%}
</SPAN>

<SPAN id="languages">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles">{%trans "Outras Línguas"%}</TD>
   <Td class="new_item"><img src="images/new_item.png" name="new_item_img" class="new_item_img" onClick="new_form('languages')" title='{%trans "novo item"%}'></Td>
  </TR>
 </TABLE>
</div>
{%include "formtemplates/languageInit.html"%}
</SPAN>

<SPAN id="skills">
<DIV>
<FORM id=0 >
<TABLE>

 <tr>
  <TD class="prim_titles">{%trans "Aptidões e Competências Pessoais"%}</TD>
  <td class="new_item">&nbsp;</td>
 </tr>
 
 <TR>
  <TD class="sec_titles">&nbsp;</TD>
  <TD>
   <SPAN tipo=editar cod=form1 style="visibility:visible; display:inline " > <A class="azul" href=javascript:edit(0,"skills")>{%trans "editar"%}</A> </SPAN>
   <SPAN tipo=guardar cod=form1 style="visibility:hidden; display:none"  ><A class="azul" href=javascript:save(0,"skills")>{%trans "guardar"%}</A> |</SPAN>
   <SPAN tipo=cancelar cod=form1 style="visibility:hidden; display:none" ><A class="magenta" href=javascript:cancel(0,"skills")>{%trans "cancelar"%}</A> </SPAN>
  </TD>
 </TR>

 <TR>
   <TD class="sec_titles">{%trans "Aptidões e Competências Sociais"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="social_skills">{{personalSkills.social_skills}}</TEXTAREA> <div class="view_field" style="visibility:visible; display:inline">{{personalSkills.social_skills_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Aptidões e Competências de Organização"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="organization_skills">{{personalSkills.organization_skills}}</TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline">{{personalSkills.organization_skills_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Aptidões e Competências Técnicas"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="technical_skills">{{personalSkills.technical_skills}}</TEXTAREA> <div class="view_field" style="visibility:visible; display:inline">{{personalSkills.technical_skills_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Aptidões e Competências Informáticas"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="informatic_skills">{{personalSkills.informatic_skills}}</TEXTAREA> <div class="view_field" style="visibility:visible; display:inline">{{personalSkills.informatic_skills_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Aptidões Artísticas"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="artistic_skills">{{personalSkills.artistic_skills}}</TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline">{{personalSkills.artistic_skills_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Outras Aptidões e Competências"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="other_skills">{{personalSkills.other_skills}}</TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline">{{personalSkills.other_skills_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Cartas de Condução"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="driving_licence">{{personalSkills.driving_licence}}</TEXTAREA> <div class="view_field" style="visibility:visible; display:inline">{{personalSkills.driving_licence_div|safe}}</div></TD>
 </TR>

 <TR>
  <TD class="sec_titles">{%trans "Informação Adicional"%}</TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="aditionalinfo">{{personalSkills.aditionalinfo}}</TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline">{{personalSkills.aditionalinfo_div|safe}}</div></TD>
 </TR>

 
 
</TABLE>
</FORM>
</div>
</SPAN>

</DIV>

</center>
<div id="powered_cont">
    <div id="powered"><a href="mailto:we@getgears.com">we at getgears dot com</a></div>
    <div id="request_report" style="visibility: hidden; display: none"> </div>

</div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-4413908-3");
        pageTracker._setDomainName(".jobgears.net");
        pageTracker._trackPageview();
        } catch(err) {}</script>
</BODY>
</HTML>
