{%for educationSlot in educationSlotList reversed %}
<span>
    <table>
    {%if educationSlot.init_date_active%}
    <tr>
        <td class="sec_titles"><label>Start Date</label></td>
        <td class="field"> <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.init_date}}</div> 
        </td>
    </tr>
    {%endif%}
    {%if educationSlot.final_date_active%}
    <tr>
        <td class="sec_titles"><label>Conclusion Date</label></td>
       <td class="field"> <div style="visibility:visible; display:inline"class="view_field">{{educationSlot.final_date}}</div> 
        </td> 
    </tr>
    {%endif%}
    {%if educationSlot.organization_active%}
    <tr>
        <td class="sec_titles"><label>School / Institution Name</label></td>
        <td class="field" >
            <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.organization}}</div>
        </td>
    </tr> 
    {%endif%}
    {%if educationSlot.degree_active%}
    <tr>
        <td class="sec_titles"><label>Qualification Description</label></td><Td class="field" >
            <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.degree}}</div>
        </td>
    </tr>
    {%endif%}
    {%if educationSlot.studies_area_active%}
    <tr>
        <td class="sec_titles"><label>Area of Studies / Carrer</label></td>
        <td class="field" >
             <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.studies_area}}</div></td>
    </tr>
    {%endif%}
    {%if educationSlot.main_subjects_active%}
    <tr>
        <td class="sec_titles" valign="top" ><label>Main Professional Skills</label></td>
        <td class="field" >
            <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.main_subjects}}</div>
        </td>
    </tr>    
    {%endif%}
    {%if educationSlot.average_active%}
    <tr>
        <td class="sec_titles" valign="top" >Final Obtained Classification</td><Td class="field" >
            <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.average}}</div>
        </td>
    </tr> 
    {%endif%}
</table>
</span>
{%endfor%}
