{%load i18n%}
{%for educationSlot in educationSlotList reversed %}
<span>

<table >

	<TR>
		<TD class="sec_titles">{%trans "Data de Início"%}</TD>
		<TD class="field"> <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.init_date}}</div> 
		</TD>
	</TR>
	<TR>
		<TD class="sec_titles">{%trans "Data de Conclusão"%}</TD>
       <TD class="field"> <div style="visibility:visible; display:inline"class="view_field">{{educationSlot.final_date}}</div> 
		</TD> 
	</TR>
	<TR >
		<Td class="sec_titles">{%trans "Nome e Tipo de Organização de Ensino ou Formação"%} </Td>
		<Td class="field" >
			<div style="visibility:visible; display:inline" class="view_field">{{educationSlot.organization}}</div>
		</Td>
	</TR> 
	<TR >
		<Td class="sec_titles">{%trans "Designação da Qualificação Obtida"%}</Td><Td class="field" >
		    <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.degree}}</div>
		</Td>
	</TR>
	<TR >
		<Td class="sec_titles">{%trans "Área de Estudos / Curso"%} </Td>
		<Td class="field" >
 			<div style="visibility:visible; display:inline" class="view_field">{{educationSlot.studies_area}}</div></Td>
	</TR>
	<TR >
        <Td class="sec_titles" valign="top" >{%trans "Principais Disciplinas ou Competências Profissionais"%}</Td><Td class="field" >
            <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.main_subjects}}</div>
 	</Td>
	</TR>    
	<TR >
        <Td class="sec_titles" valign="top" >{%trans "Classificação Final Obtida"%}</Td><Td class="field" >
            <div style="visibility:visible; display:inline" class="view_field">{{educationSlot.average}}</div>
		</Td>
	</TR> 
</table>
</span>
{%endfor%}
