{%load i18n%}

{%for languageSlot in languageSlotList reversed %}
<span>
<table>
	<TR >
	<Td class="sec_titles">{%trans "Línguas"%}</Td>
	<Td class="field" >
	<div class="view_field" style="visibility:visible; display:inline " >{{languageSlot.language}}</div>
	</Td>
	</TR>
	<TR >
	<Td class="sec_titles">{%trans "Compreensão Oral"%}</Td>
	<Td class="field" ><div style="visibility:visible; display:inline " class="view_field">{{languageSlot.listening}}</div>
		</Td>
	</TR>
	<TR >
	<Td class="sec_titles">{%trans "Compreensão Escrita"%}</Td>
	<Td class="field" >	<div  class="view_field" style="visibility:visible; display:inline " >{{languageSlot.reading}}</div>
		</Td>
	</TR>                 
	<TR >
	<Td class="sec_titles">{%trans "Interacção Oral"%}</Td>
	<Td class="field" > <div style="visibility:visible; display:inline " class="view_field">{{languageSlot.spoken_interaction}}</div>
	</Td>
	</TR>               
	<TR >
	<Td class="sec_titles">{%trans "Produção Oral"%}</Td>
	<Td class="field">	<div style="visibility:visible; display:inline " class="view_field">{{languageSlot.spoken_production}}</div>
	</Td>
	</TR>
	<TR >
	<Td class="sec_titles">{%trans "Produção Escrita"%}</Td>
	<Td class="field" ><div style="visibility:visible; display:inline "  class="view_field">{{languageSlot.writing}}</div>
	</Td>
	</TR>

</table>

</span>
{%endfor%}
