@charset "utf-8";

body{
background-color: #F8F8F8;
}

body, div, img{
margin: 0px;
padding: 0px;
border: 0px;
}

div{
font: 12px Tahoma, Verdana, Helvetica, sans-serif;
}

input{
color: #000000;
border: 1px;
border-style: solid;
border-color: #000000;
background-color: white;
font: 12px Tahoma, Verdana, Helvetica, sans-serif;
color: #000000;
}

textarea{
border: 1px;
border-style: solid;
border-color: #000000;
background-color: white;
font: 12px Tahoma, Verdana, Helvetica, sans-serif;
color: #000000;
width: 376px;
max-width: 376px;
height: 150px;
}

table, td{
color: #000000;
font: 12px Tahoma, Verdana, Helvetica, sans-serif;
border-collapse: collapse;
vertical-align: middle;
padding: 5px;
}

table{
width: 100%;
}

form{
margin: 0px;
padding: 0px;
}

select{
color:#CCFFFF;
border: 1px;
border-style: solid;
border-color: #000000;
background-color: #FFFFFF;
font: 12px Tahoma, Verdana, Helvetica, sans-serif;
color: #000000;
}

img{
border: none;
}

a{
text-decoration: none;
color: #0000CC;
font-weight: bold;
font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

a:hover{
text-decoration: underline;
}

td.prim_titles{
text-align: right;
font-weight: bold;
font-size: 14px;
padding-bottom: 0px;
vertical-align: bottom;
height: 35px;
}

td.sec_titles{
text-align: right;
vertical-align: top;
}

td.sec_titles, td.prim_titles, #curriculum_title{
border-right-style: solid;
border-right-color: #000000;
border-right-width: 1px;
width: 25%;
}

td.new_item{
text-align: right;
vertical-align: bottom;
border-bottom: #A0A0A0 dotted 1px;
padding: 0px 0px 2px 0px;
}

td.field, td.edit{
vertical-align: top;
text-align: left;
}
	
img.new_item_img:hover{
cursor: pointer;
}

img.calendar{
vertical-align: top;
}

img.calendar:hover{
cursor: pointer;
}

div.view_field{
visibility: hidden;
display: none;
}

div.menu{
position: fixed;
left: -5px;
width: 38px;
height: 165px;
z-index: 3;
}

div.menu:hover{
left: 0px;
}

.cancel, #logout{
color: #333333;
}

#wrapper{
width: 100%;
height: 100%;
background: #F8F8F8 url(../images/cases.jpg) fixed bottom center repeat-x;
z-index: 1;
}

#innerwrapper{
margin: 0 auto;
position: relative;
width: 885px;
background: url(../images/innerbk.png) center repeat-y;
z-index: 2;
}

#banner{
background: url(../images/banner.jpg) no-repeat center;
height: 165px;
width: 885px;
z-index: 2;
}

#cut_case{
position: absolute;
left: 870px;
top: 8px;
z-index: 2;
background-image: url(../images/cut_case.png);
width: 18px;
height: 34px;
}

#login{
position: relative;
top: -45px;
text-align: right;
margin: 0px 0px 75px 0px;
width: 855px;
z-index: 3;
}

#login a{
font-size: 16px;
}

#cv{
text-align: center;
width: 735px;
padding: 0px 80px 50px 70px;
}

#publish{
top: 60px;
text-align: right;
}

#lang{
top: 260px;
text-align: right;
}

#curriculum_title {
font-size: 25px;
font-weight: bold;
text-align: right;
vertical-align: top;
padding-bottom: 20px;
}

.bold, #desired_employment{
font-weight: bold;
}


/*popup divs*/
#cover{
visibility: hidden;
display: none;
position: fixed;
width: 100%;
height: 100%;
background-color: #FFFFFF;
opacity: 0.70;
filter: alpha(opacity=70);
z-index: 4;
top: 0px;
}

#loading{
width: 100%;
height: 100%;
text-align: center;
position: fixed;
z-index: 5;
visibility: hidden;
}

#loading img{
position: absolute;
margin-left: -35px;
left: 50%;
margin-top: -17px;
top: 50%;
}

#popup_wrapper{
width: 100%;
position: fixed;
top: 25%;
z-index: 5;
}
	
#warning, #sure, #publish_div, #twitter_publish, #lang_div{
visibility: hidden;
display: none; 
width: 500px;
margin: 0 auto 5px;
position: relative;
background-color: #FFFFFF;
border: #999999 solid 2px;
font-size: 14px;
padding: 10px;
text-align: center;
}

#publish_div,#lang_div img{
margin: 0px 10px 0px 10px;
}


/*report*/
#request_wrapper{
width: 100%;
height: 15px;
position: fixed;
bottom: 0px;
z-index: 3;
visibility: hidden;
}

#request_report { 
margin: 0 auto;
position: relative;
text-align: center;
width: 300px;
height: 15px;
font: 12px Tahoma, Verdana, Helvetica, sans-serif;
background-color:#FF0000;
font-weight: bold;
color: #FFFFFF; 
}
