<HTML xmlns="http://www.w3.org/1999/xhtml" xmlnx:fb="http://www.facebook.com/2008/fbml?&nc=0&pl=1" > 
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<TITLE>jobGears</TITLE>

<!-- INCLUDE GERAL -->
<SCRIPT language="JavaScript" src="js/includeajax.js" ></SCRIPT>
<SCRIPT language="JavaScript" src="js/jsCookies.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/feedback.js"></SCRIPT>


<!-- INCLUDE CALENDARIO-->
<SCRIPT type="text/javascript" src="js/calendar/dhtmlgoodies_calendar.js" ></script>
<SCRIPT type="text/javascript" src="js/calendar/urchin.js" ></script> 
<!-- CSS Calendario -->
<LINK type="text/css" rel="stylesheet" href="js/calendar/dhtmlgoodies_calendar.css " media="screen" />

<!-- Language -->
<SCRIPT type="text/javascript">
var lang = Get_Cookie('locale')
if (lang){try{document.write('<script src="./locale/'+lang+'/locale.js" type="text/javascript"> </scr'+'ipt>');}catch(err){}}else{var lang = 'en_US';Set_Cookie('locale',lang,'','/','','');document.write('<script src="./locale/'+lang+'/locale.js" type="text/javascript"> </scr'+'ipt>');}
</SCRIPT>
<!-- INCLUDE DE PERFIL -->
<SCRIPT language="JavaScript" src="js/home.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/homeform.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/homefb.js"></SCRIPT>
<SCRIPT language="JavaScript" src="js/hometwitter.js "></SCRIPT>
<SCRIPT language="JavaScript" src="js/homeutils.js"></SCRIPT>


<!-- CSS home.html -->
<link rel="stylesheet" type="text/css" href="css/home.css" />

</HEAD>

<BODY onLoad="init()">
<!-- =================================================================================================================== -->
<!--feedback -->
    <LINK type="text/css" rel="stylesheet" href="css/feedback.css" media="screen" />
    <SCRIPT type="text/javascript" charset="utf-8">
      var tab_options = {}
      tab_options.placement = "left";
      tab_options.color = "#797979";
      GSFN.feedback('#', tab_options);
    </SCRIPT>
    <A href="#" id="fdbk_tab" class="fdbk_tab_left" style="background-color:#797979">FEEDBACK</A>
    <DIV id="fdbk_overlay" style="display:none">
        <DIV id="fdbk_container">
            <A href="#" onclick="GSFN.hide();return false" id="fdbk_close"></A>
        </DIV>
        <DIV id="fdbk_screen"></DIV>
    </DIV> 
<!-- =================================================================================================================== -->
<!--Facebook Connect javascript / This block must be in the BODY section -->
    <SCRIPT type="text/javascript">
        document.write('<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/'+Get_Cookie('locale')+'/" type="text/javascript"> </scr'+'ipt>');
    </SCRIPT>
    <script type="text/javascript">FB.init("3296be521467c6b0f73259c7b4cbfbd5", "./fb/xd_receiver.htm"); </script>
<!-- END OF FB OBJECT INIT  -->
<!-- =================================================================================================================== -->

<center>

<table id="header">
 <tr>
  <td colspan="2" id="banner">
<a href="#"><img src="images/banner.jpg" ></a>
  </td>
 </tr>
 <tr>
  <td id="navigation">


  <nobr> 
    <span class="bold"><label>O meu curriculo</label></span>
  </nobr>



  </td>
  <td id="user">
  <nobr> <a href="javascript:setLanguage('pt_PT')">pt</a> <a href="javascript:setLanguage('en_US')">en</a> <a href="javascript:setLanguage('fr_FR')">fr</a></nobr> 
  </td>
 </tr>
</table>


<DIV id="background"></DIV>

<DIV id="publish_div">
<center> 
    <nobr>
        <span id="fblogin" style="visibility:hidden; display:none"><!-- <fb:login-button v="2" onlogin="fbLoggedIn()"><fb:intl>Associar ao Facebook</fb:intl> </fb:login-button>-->  <a href="#" onclick="FB.Connect.requireSession(); return false;"><img id="fb_login_image" src="./images/share/facebook-logo.png" alt="Connect" /></a></span> 
<!-- FB.init -->
        <span id="fbloggedin" style="visibility:visible; display:none"> <a href="javascript:fbStreamPublish()"><img src="images/share/facebook-logo.png" style="position:relative; top:5px" title="Publicar no Facebook"></a> </span> <a href=javascript:twitterAuthorize()  ><img src="images/share/twitter-logo.png" title="Publicar no Twitter" ></a> <a href=javascript:permaLink()><img src="images/share/share_arrow.jpg" title="crie um link permanente" ></a>
    </nobr>
</center> 
</DIV>

<DIV id="loading"><center> <IMG SRC="images/infinitum2.gif" style="display:block;"></center> </DIV>

<DIV id="body" style="display:none" >


<SPAN id="titulo">
<div>
 <TABLE>
  <TR>
   <Td id="curriculum_title"><p><label>Curriculum Vitae</label></p></Td>
   <Td id="pdf"><a href="getmypdfcurriculum/"><img title="clique para fazer download do curriculo" src="images/pdf.jpg"/></a></Td>
  </TR>
 </TABLE>
</div>
</SPAN>


<SPAN id="personal">
<div>
<FORM id=1>
 <TABLE>
 
  <tr>
   <td class="prim_titles"><label>Informação Pessoal</label></td>
   <td class="new_item">&nbsp;</td>
  </tr>
  
  <TR>
   <TD class="sec_titles">&nbsp;</TD>
   <TD>
    <SPAN tipo=editar cod=form1 style="visibility:visible; display:inline"><A class="azul" href=javascript:edit(1,"personal") >editar</A></SPAN>
    <SPAN tipo=guardar cod=form1 style="visibility:hidden; display:none"><A class="azul" href=javascript:save(1,"personal")>guardar</A> | </SPAN>
    <SPAN tipo=cancelar cod=form1 style="visibility:hidden; display:none"><A class="magenta" href=javascript:cancel(1,"personal")>cancelar</A> </SPAN>   </TD>
  </TR>
  
  <TR>
   <TD class="sec_titles"><label>Nome</label></TD>
   <TD class="field"><INPUT name="name" type="text" size="60" maxlength="128" style="visibility:hidden; display:none" value="" >
    <div class="view_field" style="visibility:visible; display:inline" ></div> </TD>
  </TR>


  <TR>
   <TD class="sec_titles"><label>Data de Nascimento</label></TD>
   <TD class="field">
    <span>
     <input name="birthdate" type="text" onFocus="this.blur()" onClick="displayCalendar(this,'yyyy-mm-dd',this)" size="10" value="" tipo="data" style="visibility:hidden; display:none" >
     <img src="images/calendar.gif" class="calendar" onClick="displayCalendar(document.getElementById(1).birthdate,'yyyy-mm-dd',this)" style="visibility:hidden; display:none" > 
     <img src="images/erase.gif" class="calendar" onClick=resetDate(document.getElementById(1).birthdate) title='Apagar Data' style="visibility:hidden; display:none" >
     <div class="view_field" style="visibility:visible; display:inline"></div>
    </span>   </TD>	
  </TR>
  
  <TR>
   <TD class="sec_titles"><label>Morada</label></TD>
   <TD class="field">
    <INPUT name="address" type="text" size="60" maxlength="256" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Código Postal</label></TD>
   <TD class="field"><INPUT name="postal_code" type="text" size="10" maxlength="32" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Localidade</label></TD>
   <TD class="field"><INPUT name="city" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>País</label></TD>
   <TD class="field"><INPUT name="country" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Telefone</label></TD>
   <TD class="field"><INPUT name="phone" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Telemóvel</label></TD>
   <TD class="field"><INPUT name="cell_phone" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Fax</label></TD>
   <TD class="field"><INPUT name="fax" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>
  
  <TR>
   <TD class="sec_titles"><label>Email</label></TD>
   <TD class="field"><INPUT name="email" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Nacionalidade</label></TD>
   <TD class="field"><INPUT name="nationality" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
    <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>

  <TR> 
   <TD class="sec_titles"><label>Sexo</label></TD>
   <TD class="field">
       <label type="genderBox" name="gender"><SELECT type="genderBox" name="gender" style="visibility:hidden; display:none" value="">
                <OPTION value=""></OPTION>
                <OPTION value="0">Feminino</OPTION>
                <OPTION value="1">Masculino</OPTION>
                </SELECT></label><div class="view_field" style="visibility:visible; display:inline"></div>
    </TD>
  </TR>

  <TR>
   <TD class="sec_titles"><label>Língua Materna</label></TD>
   <TD class="field"><INPUT name="home_language" type="text" size="20" maxlength="128" style="visibility:hidden; display:none" value="">
   <div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>
  
  <TR>
   <TD class="sec_titles" id="desired_employment"><label>Emprego Pretendido</label> / <br><label>Área Funcional</label></TD>
   <TD class="field"><input name="desired_employment" type="text" size="60" maxlength="128" style="visibility:hidden; display:none" value=""><div class="view_field" style="visibility:visible; display:inline"></div> </TD>
  </TR>
</TABLE>
</FORM>
</div>
</SPAN>

<SPAN id="experience">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles"><label>Experiência Profissional</label></TD>
   <Td class="new_item"><img src="images/new_item.png" class="new_item_img" onClick="new_form('experience')" title='adicionar item'></Td>
  </TR>
 </TABLE>
</div>
<!-- EXPERIENCE FORM TEMPLATES -->
</SPAN>

<SPAN id="education">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles"><label>Educação e Formação</label></TD>
   <Td class="new_item"><img src="images/new_item.png" class="new_item_img" onClick="new_form('education')" title='adicionar item'></Td>
  </TR>
 </TABLE>
</div>
<!-- EDUCATION FORM TEMPLATES -->
</SPAN>

<SPAN id="languages">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles"><label>Outras Línguas</label></TD>
   <Td class="new_item"><img src="images/new_item.png" name="new_item_img" class="new_item_img" onClick="new_form('languages')" title='adicionar item'></Td>
  </TR>
 </TABLE>
</div>
<!-- LANGUAGES FORM TEMPLATES-->
</SPAN>

<SPAN id="skills">
<DIV>
<FORM id=0 >
<TABLE>

 <tr>
  <TD class="prim_titles"><label>Aptidões e Competências Pessoais</label></TD>
  <td class="new_item">&nbsp;</td>
 </tr>
 
 <TR>
  <TD class="sec_titles">&nbsp;</TD>
  <TD>
   <SPAN tipo=editar cod=form1 style="visibility:visible; display:inline " > <A class="azul" href=javascript:edit(0,"skills")><label>editar</label></A> </SPAN>
   <SPAN tipo=guardar cod=form1 style="visibility:hidden; display:none"  ><A class="azul" href=javascript:save(0,"skills")><label>guardar</label></A> |</SPAN>
   <SPAN tipo=cancelar cod=form1 style="visibility:hidden; display:none" ><A class="magenta" href=javascript:cancel(0,"skills")><label>cancelar</label></A> </SPAN>
  </TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Aptidões e Competências Sociais</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="social_skills"></TEXTAREA> <div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Aptidões e Competências de Organização</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="organization_skills"></TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Aptidões e Competências Técnicas</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="technical_skills"></TEXTAREA> <div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Aptidões e Competências Informáticas</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="informatic_skills"></TEXTAREA> <div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Aptidões Artísticas</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="artistic_skills"></TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Outras Aptidões e Competências</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="other_skills"></TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Cartas de Condução</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="driving_licence"></TEXTAREA> <div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 <TR>
  <TD class="sec_titles"><label>Informação Adicional</label></TD>
  <TD class="field"><TEXTAREA onkeyup="cutValue(this)" style="visibility:hidden; display:none" name="aditionalinfo"></TEXTAREA>	<div class="view_field" style="visibility:visible; display:inline"></div></TD>
 </TR>

 
 
</TABLE>
</FORM>
</div>
</SPAN>

</DIV>

</center>
<div id="powered_cont">
    <div id="powered"><a href="mailto:we@getgears.com">we at getgears dot com</a></div>
    <div id="request_report" style="visibility: hidden; display: none"> </div>

</div>






<!-- Analytics Scripts-->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-4413908-3");
        pageTracker._setDomainName(".jobgears.net");
        pageTracker._trackPageview();
        } catch(err) {}
</script>

</BODY>
</HTML>
