{%load i18n%}
<HTML xmlns="http://www.w3.org/1999/xhtml" xmlnx:fb="http://www.facebook.com/2008/fbml"> 
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<TITLE>jobGears - {%trans "O meu curriculo"%}</TITLE>



<!-- CSS home.html -->
<link rel="stylesheet" type="text/css" href="../css/home.css" />

</HEAD>

<BODY>

<center>

<table id="header">
 <tr>
  <td colspan="2" id="banner">
    <a href="{{url}}"><img src="../images/banner.jpg" ></a>
  </td>
 </tr>
 <tr>
  <td id="navigation">

  </td>
  <td id="user">

  </td>
 </tr>
</table>






<DIV id="body" style="display:block" >


<SPAN id="titulo">
<div>
 <TABLE>
  <TR>
   <Td id="curriculum_title"><p>{%trans "Curriculum Vitae"%}</p></Td>
   <Td id="pdf"></Td>
  </TR>
 </TABLE>
</div>
</SPAN>


<SPAN id="personal">
<div>
<FORM id=1>
 <TABLE>
 
  <tr>
   <td class="prim_titles">{%trans "Informação Pessoal"%}</td>
   <td class="new_item">&nbsp;</td>
  </tr>
 
{%if personalInfo.name%} 
  <TR>
   <TD class="sec_titles">{%trans "Nome"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline" >{{personalInfo.name}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.birthdate%}
  <TR>
     <TD class="sec_titles">{%trans "Data de Nascimento"%}</TD>
     <TD class="field">   
 <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.birthdate}}</div>
     </TD>	
  </TR>
{%endif%}  

{%if personalInfo.address%}
  <TR>
   <TD class="sec_titles">{%trans "Morada"%}</TD>
   <TD class="field"> 
   <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.address}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.postal_code%}
  <TR>
   <TD class="sec_titles">{%trans "Código Postal"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.postal_code}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.city%}
  <TR>
   <TD class="sec_titles">{%trans "Localidade"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.city}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.country%}
  <TR>
   <TD class="sec_titles">{%trans "País"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.country}}</div>     
</TD>
  </TR>
{%endif%}

{%if personalInfo.phone%}
  <TR>
   <TD class="sec_titles">{%trans "Telefone"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.phone}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.cell_phone%}
  <TR>
   <TD class="sec_titles">{%trans "Telemóvel"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.cell_phone}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.fax%}
  <TR>
   <TD class="sec_titles">{%trans "Fax"%}</TD>
   <TD class="field"> <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.fax}}</div> </TD>
  </TR>
{%endif%}  

{%if personalInfo.email%}
  <TR>
   <TD class="sec_titles">{%trans "Email"%}</TD>
   <TD class="field"> <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.email}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.nationality%}
  <TR>
   <TD class="sec_titles">{%trans "Nacionalidade"%}</TD>
   <TD class="field">    <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.nationality}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.gender%}
  <TR> 
   <TD class="sec_titles">{%trans "Sexo"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.gender}}</div> </TD>
  </TR>
{%endif%}

{%if personalInfo.home_language%}
  <TR>
   <TD class="sec_titles">{%trans "Língua Materna"%}</TD>
   <TD class="field">   <div class="view_field" style="visibility:visible; display:inline">{{personalInfo.home_language}}</div> </TD>
  </TR>
{%endif%}  

{%if personalInfo.desired_employment%}
  <TR>
   <TD class="sec_titles" id="desired_employment">{%trans "Emprego Pretendido"%} /<br> {%trans "Área Funcional"%}</TD>
   <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalInfo.desired_employment}}</div> </TD>
  </TR>
{%endif%}

</TABLE>
</FORM>
</div>
</SPAN>

<SPAN id="experience">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles">{%trans "Experiência Profissional"%}</TD>
   <Td class="new_item"></Td>
  </TR>
 </TABLE>
</div>
 {%include "permlink/experienceRender.html"%}
</SPAN>

<SPAN id="education">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles">{%trans "Educação e Formação"%}</TD>
   <Td class="new_item"></Td>
  </TR>
 </TABLE>
</div>
 {%include "permlink/educationRender.html"%}
</SPAN>

<SPAN id="languages">
<DIV>
 <TABLE>
  <TR>
   <TD class="prim_titles">{%trans "Outras Línguas"%}</TD>
   <Td class="new_item"></Td>
  </TR>
 </TABLE>
</div>
{%include "permlink/languageRender.html"%}
</SPAN>

<SPAN id="skills">
<DIV>
<FORM id=0 >
<TABLE>

 <tr>
  <TD class="prim_titles">{%trans "Aptidões e Competências Pessoais"%}</TD>
  <td class="new_item">&nbsp;</td>
 </tr>
 
 <TR>
  <TD class="sec_titles">&nbsp;</TD>
  <TD>

  </TD>
 </TR>

{%if personalSkills.social_skills%}
 <TR>
   <TD class="sec_titles">{%trans "Aptidões e Competências Sociais"%}</TD>
  <TD class="field"> <div class="view_field" style="visibility:visible; display:inline">{{personalSkills.social_skills}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.organization_skills%}
 <TR>
  <TD class="sec_titles">{%trans "Aptidões e Competências de Organização"%}</TD>
  <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalSkills.organization_skills}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.technical_skills%}
 <TR>
  <TD class="sec_titles">{%trans "Aptidões e Competências Técnicas"%}</TD>
  <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalSkills.technical_skills}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.informatic_skills%}
 <TR>
  <TD class="sec_titles">{%trans "Aptidões e Competências Informáticas"%}</TD>
  <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalSkills.informatic_skills}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.artistic_skills%}
 <TR>
  <TD class="sec_titles">{%trans "Aptidões Artísticas"%}</TD>
  <TD class="field">	<div class="view_field" style="visibility:visible; display:inline">{{personalSkills.artistic_skills}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.other_skills%}
 <TR>
  <TD class="sec_titles">{%trans "Outras Aptidões e Competências"%}</TD>
  <TD class="field"> <div class="view_field" style="visibility:visible; display:inline">{{personalSkills.other_skills}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.driving_licence%}
 <TR>
  <TD class="sec_titles">{%trans "Cartas de Condução"%}</TD>
  <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalSkills.driving_licence}}</div></TD>
 </TR>
{%endif%}

{%if personalSkills.aditionalinfo%}
 <TR>
  <TD class="sec_titles">{%trans "Informação Adicional"%}</TD>
  <TD class="field"><div class="view_field" style="visibility:visible; display:inline">{{personalSkills.aditionalinfo}}</div></TD>
 </TR>
{%endif%}
 
 
</TABLE>
</FORM>
</div>
</SPAN>

</DIV>

</center>
<div id="powered_cont"><div id="powered"><a href="mailto:we@getgears.com">we at getgears dot com</a></div></div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-4413908-2");
        pageTracker._trackPageview();
        } catch(err) {}
</script>

</BODY>
</HTML>
